* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  flex-direction: column;
  font-family: system-ui;
  width: 100%;
  display: flex;
}

.header {
  background-color: darkgray;
  margin: 0;
  top: 0;
  text-align: center;
  width: 100%;
}

.content {
  width: 100%;
}

.card {
  margin: 20px;
  border: 1px solid #252629;
  padding: 3%;
  border-radius: 2rem;
  position: relative;
}

.card__heading {
  margin: 0 0 10px 0;
}

.card__bookmark {
  font-size: 2em;
  padding: 12px;
  border: solid 1px;
  border-radius: 50%;
  position: absolute;
  right: -10px;
  top: -10px;
  background-color: #e5e5e5;
}
.card__bookmark:hover {
  background-color: #04bd00;
  cursor: pointer;
}
.active {
  background-color: #04bd00;
}

.subheading {
  text-align: center;
  width: 100%;
}
.question {
  width: 100%;
  padding: 10px;
}

.btn {
  background-color: chocolate;
  border: solid 1px black;
  border-radius: 10px;
  margin: 15px;
  padding: 10px;
}

.answer_btn {
  border: solid 1px black;
  border-radius: 10px;
  padding: 5px;
  margin: 15px;
  cursor: pointer;
}
.answer_btn:hover {
  background-color: chartreuse;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 15px;
  position: fixed;
  bottom: 0;
  height: 50px;
  align-items: center;
  width: 100%;
  background-color: darkgray;
}

.navitem {
  text-decoration: none;
  color: rgb(52, 52, 52);
}
.navitem:hover {
  font-weight: 600;
  color: rgb(12, 12, 12);
}

.taglist {
  display: flex;
  list-style: none;
  gap: 5px;
}

.tag {
  border: solid 1px black;
  border-radius: 5px;
  padding: 5px;
  background-color: #ccc;
}

.tag:hover {
  background-color: #7a7a7a;
}
