* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  flex-direction: column;
  font-family: system-ui;
  width: 100%;
  display: flex;
  background-color: darkgray;
}

.footer {
  border-top: 1px solid #9a9a9a;
  height: 50px;
  margin-top: 10px;
}
.content {
  background-color: #e2e2e2;
}

.header {
  background-color: darkgray;
  margin: 0;
  top: 0;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid #9a9a9a;
  box-shadow: #7a7a7a;
}

.content {
  width: 100%;
}

.card {
  margin: 20px;
  border: 1px solid #bfbfbf;
  padding: 3%;
  border-radius: 2rem;
  position: relative;
}
.card::last {
  margin-bottom: 50px;
}

.card__heading {
  margin: 0 0 10px 0;
}

.card__bookmark {
  font-size: 2em;
  padding: 12px;
  border: solid 1px #bfbfbf;
  border-radius: 50%;
  position: absolute;
  right: -10px;
  top: -10px;
  background-color: #e5e5e5;
}
.card__bookmark:hover {
  background-color: #04bd00;
  cursor: pointer;
}
.active {
  background-color: #04bd00;
}

.subheading {
  text-align: center;
  width: 100%;
}
.question {
  width: 100%;
  padding: 10px;
}

.btn {
  background-color: rgb(114, 116, 115);
  border: solid 1px #bfbfbf;
  color: #fff;
  border-radius: 10px;
  margin: 15px;
  padding: 10px;
  box-shadow: #7a7a7a;
}

.btn:hover {
  background-color: #7a7a7a;
  cursor: pointer;
}
.answer_btn {
  border: solid 1px #bfbfbf;
  border-radius: 10px;
  padding: 5px;
  margin: 15px;
  cursor: pointer;
}
.answer_btn:hover {
  background-color: chartreuse;
}

.nav {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  height: 50px;
  align-items: center;
  width: 100%;
  background-color: darkgray;
  margin: 0;
  padding: 0;
}

.navitem {
  text-decoration: none;
  color: rgb(52, 52, 52);
}
.navitem:hover {
  font-weight: 400;
  color: rgb(12, 12, 12);
}

.footer__nav {
  list-style: none;
  display: flex;
  margin: 0;
  justify-content: center;
  padding: 0;
}
.footer__nav__item {
  justify-self: center;
  align-self: center;
  width: 50px;
  border-left: 1px solid #515151;
  border-right: 1px solid #515151;
}

.taglist {
  display: flex;
  list-style: none;
  gap: 5px;
}

.tag {
  border: solid 1px #bfbfbf;
  border-radius: 5px;
  padding: 5px;
  background-color: #ccc;
}

.tag:hover {
  background-color: #7a7a7a;
}
